# Name of workflow
name: Development workflow

# When workflow is triggered
on:
  push:
    branches:
      - main

# Jobs to carry out
jobs:
  build:
    # Operating system to run job on
    runs-on: ubuntu-latest

    # Steps in job
    steps:
      # Get code from repo
      - name: Checkout code
        uses: actions/checkout@v1
      # Install NodeJS
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      # Run npm install and build on our code
      - run: npm install
      - run: npm run test 
      - run: npm run build --if-present

  deploy:
    # Operating system to run job on
    runs-on: ubuntu-latest

    needs: [build]

    # Deploy to Netlify using our dev secrets
    steps:
      - name: Deploy to netlify
        uses: netlify/actions/cli@master
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        with:
          #args: deploy --dir=build
          secrets: '["NETLIFY_AUTH_TOKEN", "NETLIFY_SITE_ID"]'
